RewriteEngine On
RewriteBase /App_Form/

# Route ke public/f/{id}
RewriteRule ^f/([0-9]+)$ public/f/index.php?id=$1 [L,QSA]

# Izinkan file asli tetap bisa diakses
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
