RewriteEngine On
RewriteBase /App_Form/

# /f/{public_key} -> /public/f/index.php?key={public_key}
RewriteRule ^f/([A-Za-z0-9]+)$ public/f/index.php?key=$1 [L,QSA]

# Biar file/folder asli tetap bisa diakses
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
